{% extends 'base.html'%}  

{% block content %}
  <div class="container">
    <h1 class="text-center mt-2 mb-4">{{project.title}}</h1>
    <p class="lead">
      {{project.descr}}
    </p>
    <div class="text-center mb-4">
    
    {% if project.link[:12] == "https://gist" %}
      <script src="{{ project.link }}"></script>
    {% else %}
      <a href="{{ project.link }}"  target="_blank">View Code @ Rpubs</a>
    {% endif %}
    </div>
    <div class="text-center"> 
      <a href="mailto:chris.figy@gmail.com" class="btn btn-primary btn-lg">Contact</a>
    </div>
  </div>
   <!--{% include 'form.html' %}-->
{% endblock %}